<h1 id="-">Беларускае літаратурнае вымаўленне</h1>
<h2 id="-">Некаторыя правілы</h2>
<h3 id="-">Галосныя <strong>і</strong>, <strong>ы</strong></h3>
<ol>
<li><strong>і</strong> ў пачатку слова ў формах займеннікаў вымаўляецца як спалучэнне <strong>й</strong> з <strong>і</strong> (йі).</li>
<li><strong>і</strong> ў сярэдзіне альбо на канцы слова пасля галоснага вымаўляецца як спалучэнне <strong>й</strong> з <strong>і</strong> (йі).</li>
<li>Калі насля слована на галосны няма паузы або яна кароткая, ненаціскны <strong>і</strong> ў незапазычаных словах вымаўляецца як <strong>й</strong> або як спалучэнне <strong>й</strong> з <strong>і</strong> (йі).</li>
<li>Злучнік і часціца <strong>і</strong> пасля слова на галосны пры адсутнасці працяглай паўзы вымаўляецца як <strong>й</strong>.</li>
<li><strong>і</strong> пасля слоў, якія заканчваюцца на цвёрды зычны, вымаўляецца як <strong>ы</strong>.</li>
<li>У складаных словах пасля цвёрдага зычнага <strong>і</strong> вымаўляецца як <strong>ы</strong>.</li>
</ol>
<h3 id="-">Галосны <strong>у</strong></h3>
<ol>
<li>У словах, якія абазначаюць прозвішчы, імёны, геаграфічныя назвы, <strong>у</strong> вымаўляецца як <strong>ў</strong>.</li>
<li>У запазычаных словах розных значэнняў <strong>у</strong> вымаўляецца як <strong>ў</strong>.</li>
<li>У сярэдзіне сказа пасля знака прыпынку, калі ў прамаўленні няма паўзы або яна кароткая, <strong>у</strong> вымаўляецца як <strong>ў</strong>.</li>
</ol>
<h3 id="-">Зычныя <strong>т</strong>, <strong>д</strong></h3>
<ol>
<li><strong>т</strong> перад звонкімі зычнымі <strong>б</strong>, <strong>д</strong> у сярэдзіне слова вымаўляецца як <strong>д</strong>.</li>
<li>Калі ў слове побач стаяць два <strong>т</strong>, то яны вымаўляюцца як асобныя гукі.</li>
<li>Спалучэнне <strong>т</strong> з наступнай афрыкатай <strong>ц</strong> утварае падоўжаную афрыкату <strong>цц</strong>.</li>
<li><strong>д</strong> на канцы слова аглушаецца і вымаўляеца як <strong>т</strong>.</li>
<li>Калі ў слове побач стаяць два <strong>д</strong>, то яны вымаўляюцца як асобныя гукі.</li>
<li><strong>д</strong> у сярэдзіне слова перад глухімі зычнымі вымаўляецаа як <strong>т</strong>.</li>
<li>Спалучэнне <strong>д</strong> з наступнай мяккай афрыкатай <strong>дзь</strong> утварае падвойную звонкую афрыкату <strong>дзьдзь</strong>.</li>
<li>Спалучэнне <strong>д</strong> прыстаўкі ці прыназоўніка з наступнай афрыкатай <strong>ц</strong>, <strong>ць</strong> вымаўляецца як <strong>тц</strong> або падвойная афрыката <strong>цц</strong>, <strong>цьць</strong>.</li>
<li>Спалучэнне <strong>д</strong> і свісцячага <strong>с</strong> перад <strong>т</strong> вымаўляецца як <strong>ц</strong>.</li>
<li>У спалучэнні <strong>д</strong> і свісцячага <strong>с</strong> перад <strong>к</strong> <strong>д</strong> аглушаецца і вымаўляецца як <strong>т</strong> або афрыката <strong>ц</strong>.</li>
<li>У спалучэнні <strong>дс</strong>, дзе <strong>д</strong> з’яўляецца часткаю прыстаўкі ці прыназоўніка, <strong>д</strong> можа вымаўляцца як <strong>т</strong> або афрыката <strong>ц</strong>, <strong>ць</strong>.</li>
<li>Спалучэнне <strong>д</strong> і <strong>т</strong> з наступнай афрыкатай <strong>ч</strong> утварае падоўжаную афрыкату <strong>чч</strong>.</li>
</ol>
<h3 id="-">Зычныя <strong>с</strong>, <strong>з</strong></h3>
<ol>
<li><strong>с</strong> перад мяккімі зычнымі <strong>с</strong>, <strong>л</strong>, <strong>м</strong>, <strong>н</strong>, <strong>ц</strong>, <strong>п</strong>, <strong>в</strong> вымаўляецца мякка.</li>
<li><strong>с</strong>, <strong>сь</strong> перад звонкімі вымаўляюцца як <strong>з</strong>, <strong>зь</strong>.</li>
<li><strong>с</strong> перад мяккімі зычнымі <strong>к</strong>, <strong>ф</strong>, <strong>х</strong> вымаўляецца цвёрда.</li>
<li><strong>с</strong> перад зычнымі <strong>ш</strong>, <strong>ч</strong> вымаўляецца як <strong>ш</strong>.</li>
<li><strong>з</strong> перад мяккімі зычнымі <strong>дз</strong>, <strong>л</strong>, <strong>з</strong>, <strong>б</strong>, <strong>в</strong>, <strong>м</strong>, <strong>н</strong> вымаўляецца мякка.</li>
<li><strong>з</strong> перад мяккімі зычнымі <strong>п</strong>, <strong>с</strong>, <strong>ц</strong> аглушаеццаі вымаўляецца мякка.</li>
<li><strong>з</strong>, <strong>зь</strong> на канцы слова аглушаюцца і вымаўляюцца як <strong>с</strong>, <strong>сь</strong>.</li>
<li><strong>з</strong> перад глухімі <strong>ш</strong>, <strong>ч</strong> вымаўляецца як <strong>ш</strong>.</li>
<li><strong>з</strong> перад цвёрдымі глухімі зычнымі <strong>к</strong>, <strong>х</strong>, <strong>т</strong>, <strong>с</strong>, <strong>ц</strong>, <strong>п</strong> аглушаецца і вымаўляецца як <strong>с</strong>.</li>
<li><strong>з</strong> перад зычным <strong>ж</strong> і афрыкатай <strong>дж</strong> вымаўляецца як <strong>ж</strong>.</li>
<li><strong>з</strong> перад мяккім зычным <strong>г</strong> вымаўляецца цвёрда.</li>
<li><strong>з</strong> перад мяккімі глухімі <strong>к</strong>, <strong>x</strong> аглушаецца і вымаўляецца як <strong>с</strong>.</li>
</ol>
<h3 id="-">Зычныя <strong>ш</strong>, <strong>ж</strong></h3>
<ol>
<li>На канцы слова <strong>ж</strong> аглушаецца і вымаўляецца як <strong>ш</strong>.</li>
<li>У спалучэнні <strong>жск</strong> пры вымаўленні выпадае <strong>ж</strong>.</li>
<li>У спалучэнні <strong>шск</strong> пры вымаўленні выпадае <strong>ш</strong>.</li>
<li>Спалучэнні <strong>шс</strong>, <strong>жс</strong> паміж галоснымі вымаўляюцца як падоўжаны мяккі <strong>сьсь</strong>.</li>
<li>Спалучэнне <strong>ж</strong> і афрыкаты <strong>дж</strong> у сярэдзіне слова вымаўляецца як два асобныя гукі – <strong>ж-дж</strong>.</li>
<li>На канцы слова спалучэнне <strong>ждж</strong> аглушаецца і вымаўляецца як <strong>шч</strong>.</li>
<li>Пасля слова на галосны часціца <strong>ж</strong> аглушаецца і вымаўляецца як <strong>ш</strong> толькі ў тым выпадку, калі яна стаіць перад глухім зычным.</li>
<li>У сярэдзіне слова перад глухімі <strong>ж</strong> аглушаецца і вымаўляецца як <strong>ш</strong>.</li>
</ol>
<h3 id="-">Зычныя <strong>дж</strong>, <strong>ч</strong></h3>
<ol>
<li>Вымаўленне афрыкаты <strong>дж</strong> як звонкага зычнага <strong>ж</strong> – парушэнне норм беларускага літаратурнага вымаўлення (<em>джаліць</em>, не <em>жаліць</em>).</li>
<li>У словах, дзе <strong>д</strong> – гук прыстаўкі, а <strong>ж</strong> – гук кораня, трэба вымаўляць два асобныя зычныя гукі, а не афрыкату <strong>дж</strong> (<em>ад-жыў</em>).</li>
<li>На канцы слова <strong>дж</strong> аглушаецца і вымаўляецца як <strong>ч</strong>.</li>
<li>Спалучэнне <strong>чц</strong> вымаўляецца як падоўжаная зацвярдзелая афрыката <strong>цц</strong>.</li>
</ol>
<h3 id="-">Зычныя <strong>дз</strong>, <strong>ц</strong></h3>
<ol>
<li>Вымаўленне звонкай мяккай афрыкаты <strong>дз</strong> як <strong>дь</strong> будзе парушэннем нормы беларускага літаратурнага вымаўлення (<em>дзьве</em>, не <em>дьве</em>).</li>
<li>Звонкая афрыката <strong>дз</strong>, <strong>дзь</strong> на канцы слова аглушаецца і вымаўляецца як <strong>ц</strong>, <strong>ць</strong>.</li>
<li>У словах, дзе зычны <strong>д</strong> з’яўляецца часткай прыстаўкі, а <strong>з</strong> – гукам кораня, трэба вымаўляць два асобныя зычныя, а не афрыкату <strong>дз</strong> (<em>ад-завіся</em>).</li>
<li><strong>дзь</strong> перад глухімі зычнымі вымаўляецца як <strong>ць</strong>.</li>
<li>Цвёрдая звонкая афрыката <strong>дз</strong> сустракаецца толькі ў асобных словах, у іншамоўных геаграфічных назвах і прозвішчах.</li>
<li><strong>ц</strong> перад мяккім зычным <strong>вь</strong> вымаўляецца мякка.</li>
<li><strong>ц</strong>, <strong>ць</strong> перад звонкімі зычнымі <strong>г</strong>, <strong>б</strong>, <strong>бь</strong> вымаўляецца як <strong>дз</strong>, <strong>дзь</strong>.</li>
</ol>
<h3 id="-">Зычныя <strong>к</strong>, <strong>х</strong>, <strong>г</strong></h3>
<ol>
<li><strong>г</strong> на канцы слова аглушаецца і вымаўляецца як <strong>х</strong>.</li>
<li><strong>г</strong> перад глухімі зычнымі аглушаецца і вымаўляецца як <strong>х</strong>.</li>
<li>У запазычаных словах замест фрыкатыўнага трэба вымаўляць выбухны звонкі <strong>г</strong> (гуз, гузік, ганак, гонты, гарнец, гвалт, гірса, нягеглы, газа, газьніца, газнічка, газоўка, гарсэт, гарчык, гвалтаваць, гвалтоўнік, гергетаць, гізаваць, гільза, гіпс, гіпсаванне, гуз, гузак, гузасты, гузаваты, гузічак, джганне, джгануць, джгаць, джыгіт, джыгітоўка, джыгітаваць, джыгаць, магерка, мегера, нязграбнасць, нязгрэба).</li>
<li><strong>к</strong> перад звонкімі зычнымі <strong>з</strong>, <strong>г</strong>, <strong>д</strong> у сярэдзіне слова вымаўляецца як выбухны <strong>г</strong>.</li>
</ol>
<h3 id="-">Зычныя <strong>п</strong>, <strong>б</strong></h3>
<ol>
<li><strong>б</strong> на канцы слова аглушаецца і вымаўляецца як <strong>п</strong>.</li>
<li>Перад глухімі зычнымі <strong>б</strong> аглушаецца і вымаўляецца як <strong>п</strong>.</li>
<li>Калі слова заканчваецца на галосны, часціца <strong>б</strong> аглушаецца і вымаўляецца як <strong>п</strong> толькі ў тым выпадку, калі <strong>б</strong> стаіць перад глухім зычным.</li>
</ol>
<h3 id="-">Зычныя <strong>м</strong>, <strong>н</strong></h3>
<ol>
<li><strong>н</strong> перад мяккімі афрыкатамі <strong>дзь</strong>, <strong>ць</strong> вымаўляецца мякка.</li>
<li><strong>н</strong> перад мяккімі зычнымі <strong>с</strong>, <strong>з</strong>, <strong>в</strong>, <strong>ф</strong>, <strong>к</strong>, <strong>г</strong>, <strong>л</strong> вымаўляецца цвёрда.</li>
<li><strong>м</strong> перад мяккімі зычнымі <strong>н</strong>, <strong>с</strong>, <strong>в</strong>, <strong>ф</strong>, <strong>к</strong>, <strong>п</strong>, <strong>б</strong>, <strong>л</strong>, <strong>дз</strong> вымаўляецца цвёрда.</li>
</ol>
<h3 id="-">Падоўжаныя зычныя</h3>
<ul>
<li>Характэрнай асаблівасцю беларускай фанетыкі з’яўляецца наяўнасць падоўжаных зычных. Падаўжаюцца наступныя зычныя:<ul>
<li><strong>зьзь</strong></li>
<li><strong>льль</strong></li>
<li><strong>ньнь</strong></li>
<li><strong>сьсь</strong></li>
<li><strong>цьць</strong></li>
<li><strong>дзьдзь</strong></li>
<li><strong>жж</strong></li>
<li><strong>шш</strong></li>
<li><strong>чч</strong></li>
<li><strong>кк</strong></li>
</ul>
</li>
<li>Вымаўляюцца так, як і пішуцца, толькі зацвярдзелыя падоўжаныя зычныя.</li>
</ul>
<h3 id="-">Часціца <strong>не</strong>, прыназоўнік <strong>без</strong></h3>
<ul>
<li>Часціца <strong>не</strong>, прыназоўнік <strong>без</strong>, калі яны стаяць перад словам з націскам на першым складзе, вымаўляюцца як <strong>ня</strong>, <strong>бяз</strong>.</li>
</ul>
