<h1 id="-">Беларускае літаратурнае вымаўленне</h1>
<h2 id="-">Некаторыя правілы</h2>
<h3 id="-">Галосныя і, ы</h3>
<ol>
<li>Галосны <strong>і</strong> ў пачатку слова ў формах займеннікаў вымаўляецца як спалучэнне нескладовага <strong>й</strong> з залосным <strong>і</strong> (йі).</li>
<li>Галосны <strong>і</strong> ў сярэдзіне альбо на канцы слова пасля галоснага вымаўляецца як спалучэнне нескладовага <strong>й</strong> з залосным <strong>і</strong> (йі).</li>
<li>Калі насля слована на галосны няма паузы або яна кароткая, ненаціскны <strong>і</strong> ў незапазычаных словах вымаўляецца як нескладовы <strong>й</strong> ао як спалучэнне нескладовага <strong>й</strong> з галосным <strong>і</strong> (йі).</li>
<li>Злучнік і часціца <strong>і</strong> пасля слова на галосны пры адсутнасці працяглай паўзы вымаўляецца як нескладовы <strong>й</strong>.</li>
<li>Галосны <strong>і</strong> пасля слоў, якія заканчваюцца на цвёрды зычны, вымаўляецца як <strong>ы</strong>.</li>
<li>У складаных словах пасля цвёрдага зычнага галосны і вымаўляецца як <strong>ы</strong>.</li>
</ol>
<h3 id="-">Зычныя т, д</h3>
<ol>
<li>Глухі зычны <strong>т</strong> перад звонкімі зычнымі <strong>б</strong>, <strong>д</strong> у сярэдзіне слова вымаўляецца як <strong>д</strong>.</li>
<li>Калі ў слове побач стаяць два глухія зычныя <strong>т</strong>, то яны вымаўляюцца як асобныя гукі.</li>
<li>Спалучэнне глухога зычнага <strong>т</strong> з наступнай афрыкатай <strong>ц</strong> утварае падоўжаную афрыкату <strong>цц</strong>.</li>
</ol>
